.title{

    text-align: center;
    margin: 20px 0;

}

.ul{
    text-align: center;
    
}

.content {
    padding-bottom: 150px; /* Adjust 50px to provide space for the footer */
    /* Add any other necessary styles */
}