/* For large screens (screens with a minimum width of 992px, the Bootstrap "lg" breakpoint) */
@media (min-width: 992px) {
    /* Display the full menu Navbar */
    .menu-navbar {
      display: block !important; /* Ensure the Navbar is displayed */
    }
  
    .toggle-navbar {
      display: none !important; /* Hide the toggle button Navbar */
    }
  }
  
  /* For small screens (screens with a maximum width of 991px) */
  @media (max-width: 991px) {
    /* Display the toggle button Navbar */
    .toggle-navbar {
      display: block !important; /* Ensure the Navbar is displayed */
    }
  
    .menu-navbar {
      display: none !important; /* Hide the full menu Navbar */
    }
  }
  